.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  gap: 20px;
}

.link {
  padding: 10px 20px;
  display: block;
  color: orange;
  transition: .1s;

  &:hover {
    color: #fff;
    background-color: orange;
  }
}

.active {
  color: #fff;
  background-color: orange;
}